PORT=8000
MONGO_MAIN_URI=mongodb+srv://<username>:<password>@<cluster>.<>.mongodb.net/<main_db>?retryWrites=true&w=majority
MONGO_CLUSTER_URI=mongodb+srv://<username>:<password><cluster>.<>.mongodb.net
JWT_SECRET=your-jwt-secret-key
JWT_EXPIRES_IN=<days (2d)>